server:
  http:
    host: 0.0.0.0
    port: 9188
  # https:
  #   host: 0.0.0.0
  #   port: 9189
  #   cert: "cert path"
  #   key: "key path"

tasks:
  - dsn: "postgresql://gaussdb:gaussdb@127.0.0.1:5432/postgres"
    name: Test Server 1
    duration: 5s
    master: true
    scrapers:
      - postgresql_exporter
      - pg_settings
      - gs_os_run_info
      - gs_instance_time
      - gs_total_memory_detail
      - gs_sql_count
  - dsn: "postgresql://gaussdb:gaussdb@127.0.0.1:5433/postgres"
    name: Test Server 2
    duration: 8s
    master: true
    scrapers:
      - postgresql_exporter
      - pg_settings
      - gs_os_run_info
      - gs_instance_time
      - gs_total_memory_detail
      - gs_sql_count